In [1]:
# Import modules
import sys
import os
import pandas as pd

In [2]:
# Append the project root path to sys.path
sys.path.append(os.path.abspath("../scripts"))

In [3]:
#  Import Custom Module
import comodity_analysis as ca

In [5]:
#  Load and Preprocess Data

# Load Brent oil price (Daily)
oil_df = ca.load_data("../data/BrentOilPrices.csv")

# Load GDP data (Annual) and align it with daily oil prices
gdp_df = ca.load_gdp_data("../data/USA_GDP_Growth.csv")

C:\Users\HP\OneDrive\Desktop\ai2\kaim-week-10\scripts\comodity_analysis.py:18: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv(file_path, parse_dates=["Date"], dayfirst=True)

Data Loaded Successfully from ../data/BrentOilPrices.csv!

GDP Data Expanded to Daily Frequency:
              GDP  GDP per Capita  Growth
Year
1961-01-01  563.3          3067.0     2.3
1961-01-02  563.3          3067.0     2.3
1961-01-03  563.3          3067.0     2.3
1961-01-04  563.3          3067.0     2.3
1961-01-05  563.3          3067.0     2.3

In [6]:
#print oil df
oil_df.head(10)

            Price
Date
1987-05-20  18.63
1987-05-21  18.45
1987-05-22  18.55
1987-05-25  18.60
1987-05-26  18.63
1987-05-27  18.60
1987-05-28  18.60
1987-05-29  18.58
1987-06-01  18.65
1987-06-02  18.68

In [7]:
# print gdp df
gdp_df.head(10)

              GDP  GDP per Capita  Growth
Year
1961-01-01  563.3          3067.0     2.3
1961-01-02  563.3          3067.0     2.3
1961-01-03  563.3          3067.0     2.3
1961-01-04  563.3          3067.0     2.3
1961-01-05  563.3          3067.0     2.3
1961-01-06  563.3          3067.0     2.3
1961-01-07  563.3          3067.0     2.3
1961-01-08  563.3          3067.0     2.3
1961-01-09  563.3          3067.0     2.3
1961-01-10  563.3          3067.0     2.3

In [10]:
# merge the two datasets
merged_df = ca.merge_oil_gdp(oil_df, gdp_df)

Merged dataset preview:
            Price      GDP  GDP per Capita  Growth
Date
1987-05-20  18.63  4855.22         20039.0    3.46
1987-05-21  18.45  4855.22         20039.0    3.46
1987-05-22  18.55  4855.22         20039.0    3.46
1987-05-25  18.60  4855.22         20039.0    3.46
1987-05-26  18.63  4855.22         20039.0    3.46

In [12]:
merged_df.head(15)

            Price      GDP  GDP per Capita  Growth
Date
1987-05-20  18.63  4855.22         20039.0    3.46
1987-05-21  18.45  4855.22         20039.0    3.46
1987-05-22  18.55  4855.22         20039.0    3.46
1987-05-25  18.60  4855.22         20039.0    3.46
1987-05-26  18.63  4855.22         20039.0    3.46
1987-05-27  18.60  4855.22         20039.0    3.46
1987-05-28  18.60  4855.22         20039.0    3.46
1987-05-29  18.58  4855.22         20039.0    3.46
1987-06-01  18.65  4855.22         20039.0    3.46
1987-06-02  18.68  4855.22         20039.0    3.46
1987-06-03  18.75  4855.22         20039.0    3.46
1987-06-04  18.78  4855.22         20039.0    3.46
1987-06-05  18.65  4855.22         20039.0    3.46
1987-06-08  18.75  4855.22         20039.0    3.46
1987-06-09  18.78  4855.22         20039.0    3.46